{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-6 offset-xl-3">
                <h1>Register</h1>
                <form method="post"><input class="form-control" type="text" name="username" placeholder="Username" autofocus="" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_]*$" required="">
                    <p>Allowed characters:&nbsp;<code>A-Z, a-z, 0-9, _</code><br>No special characters, no spaces. Must be between 4 and 32 characters.</p><input class="form-control" type="email" style="margin-top: 8px;" name="email" placeholder="Email" required="" pattern="[^@]+@[^@]+\.[^@]+" minlength="5" maxlength="128">
                    <p>Allowed scheme:&nbsp;<code>&lt;user&gt;@&lt;domain&gt;.&lt;tld&gt;</code><br>All domains allowed, only used for password recovery. Max 128 characters.</p><input class="form-control" type="password" name="password" placeholder="Password" style="margin-top: 8px;" required="" minlength="8" maxlength="64">
                    <p>No 'retype password' field. You either type it correctly or get bent.<br>Make sure you can retype it later. Must be between 8 and 64 characters.<br></p><button class="btn btn-primary d-block w-100" type="submit" style="margin-top: 8px;">Register</button>
                    <p style="margin-bottom: 0px;"><a class="forgot" href="/login"><i class="fa fa-power-off"></i>&nbsp;Log In</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}